:root{
    --mainColor:#152e28;
    --secondaryColor:#152636;
    --mainText:#fff;
    --borderColor:#161056;
    --secondaryText:#50a6ad;
    --themeDotBorder:#fff;
    --previewBg:rgb(251,249,243,0.8);
    --preview-shadow:#111921;
    --btn-color:#17a7b8;

}
