:root{
    --mainColor:#da5ec9;
    --secondaryColor:#e799ec;
    --mainText:#fff;
    --borderColor:#ce92ce;
    --secondaryText:#131112;
    --themeDotBorder:#d68bc4;
    --previewBg:rgba(202, 150, 202, 0.8);
    --preview-shadow:#e0c4e0;
    --btn-color:rgb(118, 129, 129);

}
